@page "/"

<section class="h-screen xl:bg-[url('../img/side-gradient.png')] bg-no-repeat bg-right flex justify-center xl:justify-start">
    <div class="flex xl:ml-[5%]">
        <div class="xl:mt-[5vh] flex flex-col justify-center items-center xl:items-start">
            <h1 class="w-[90%] xl:w-[45vw] text-[#001854] font-inter not-italic font-bold text-[3rem] md:text-[4rem] xl:text-[5.5rem] leading-[3.3rem] md:leading-[5rem] select-none text-center xl:text-start">Спасете бъдещето чрез силата на <span class="inline bg-clip-text text-transparent bg-center bg-cover bg-[url('../img/ai-gradient.png')]">Изкуствения Интелект</span>.</h1>
            <button class="xl:h-[6vw] w-1/2 mt-[10%] bg-gradient-to-r from-[#61B3FF] to-[#8321FF] rounded-[93px] font-inter not-italic font-extrabold text-[4.5vw] xl:text-[2.5vw] text-[#FFFFFF]">
            Започни сега
                <svg class="inline pl-[1vw] w-[2vw]" width="30" height="45" viewBox="0 0 30 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.395597 40.0789C0.182112 39.8812 0.181929 39.5436 0.395198 39.3456L18.1477 22.8665C18.3609 22.6686 18.3609 22.3314 18.1477 22.1335L0.395198 5.65435C0.181929 5.45638 0.182112 5.11882 0.395596 4.92108L5.36873 0.31471C5.56044 0.137139 5.85656 0.137138 6.04827 0.31471L29.604 22.1332C29.8176 22.3311 29.8176 22.6689 29.604 22.8668L6.04827 44.6853C5.85656 44.8629 5.56044 44.8629 5.36873 44.6853L0.395597 40.0789Z" fill="white" />
                </svg>
            </button>
        </div>

        <div class="hidden xl:block">
            <img draggable="false" class="absolute select-none ml-[7vw] top-[10%] z-1 w-[28%]" src="img/mockup.png" />
        </div>
    </div>
</section>


<section >
    <div class="flex mt-[10%] flex-col xl:flex-row">
        <div class="xl:pl-16 xl:pr-5 flex justify-center items-center mb-5">
            <img src="img/photo.png" draggable="false" class="select-none w-4/5 xl:w-[65rem]" />
        </div>

        <div class="xl:pl-5 xl:pr-16 xl:items-start flex justify-center items-center flex-col">
            <p class="font-inter text-[#001754] text-[4vw] font-semibold xl:mb-0 mb-3 ">Събирма снимки</p>
            <p class="text-[#525252] text-[2.5vw] xl:text-justify xl:w-[100%] w-4/5 text-center">Използват се различни изображения, за да се установи дали плажът е замърсен или не.</p>
        </div>
    </div>

    <div class="flex mt-[10%] flex-col xl:flex-row">
        <div class="xl:pr-5 xl:pl-16 flex justify-center items-center flex-col xl:items-start">
            <p class="font-inter text-[#001754] text-[4vw] font-semibold xl:mb-0 mb-3 ">Сървърът обработва информацията</p>
            <p class="text-[#525252] text-[2.5vw] xl:text-justify w-4/5 text-center">Данните преминават през нашия агоритъм и се създават събития.</p>
        </div>
        
        <div class="xl:pr-16 xl:pl-5 flex justify-center items-center mb-5">
            <img src="img/Layer 2 1.png" draggable="false" class="select-none w-1/3 xl:w-[32rem]" />
        </div>
    </div>

    <div class="flex mt-[10%] flex-col xl:flex-row">
        <div class="xl:pl-16 xl:pr-5 flex justify-center items-center mb-5">
            <img src="img/Group 76.png" draggable="false" class="select-none w-4/5 xl:w-[65rem]" />
        </div>

        <div class="xl:pl-5 xl:pr-16 flex justify-center items-center flex-col">
            <p class="font-inter text-[#001754] text-[4vw] font-semibold xl:mb-0 mb-3 ">Заедно за по-добро бъдеще</p>
            <p class="text-[#525252] text-[2.5vw] xl:text-justify xl:w-[100%] w-4/5 text-center">Най-накрая се създават събития, където всеки може да дойде и да изчисти плажа.</p>
        </div>
    </div>
</section>
<section>
    <div class="flex mt-[10%] flex-col xl:flex-row">
        <div class="xl:pr-5 flex justify-center items-center mb-5">
            <img src="img/friendsScreen.png" draggable="false" class="select-none w-4/5 xl:w-[130rem]" />
        </div>

        <div class="xl:pl-5 xl:pr-16 flex justify-center items-center flex-col">
            <p class="font-inter text-[#001754] text-[4vw] font-semibold xl:mb-0 mb-3 ">Срещнете се с вашите <span class=" bg-gradient-to-r from-[#4FD8E0] to-[#4FB5E0] bg-clip-text" style="-webkit-text-fill-color: transparent; text-fill-color: transparent;">приятели.</span></p>
            <p class="text-[#525252] text-[2.5vw] xl:text-justify xl:w-[100%] w-4/5 text-center">Можете да участвате в събитията с приятелите си, което ги прави още по-забавни и по-ангажиращи.</p>
            <p class="text-[2.5vw] bg-[#2989E1] text-white d-inline-block pl-[0.7%] pr-[0.7%] rounded-[7px] mt-[7px]">
                Можете дори да създадете нови приятели, кой знае!
            </p>
        </div>
    </div>
</section>
<section class="flex items-center justify-center pt-20 pb-20">
    <button class="xl:h-[6vw] w-1/2 mt-[10%] bg-gradient-to-r from-[#00A3FF] to-[#0038FF] rounded-[93px] font-inter not-italic font-extrabold text-[4.5vw] xl:text-[2.5vw] text-[#FFFFFF]">
        Започни сега
        <svg class="inline pl-[1vw] w-[2vw]" width="30" height="45" viewBox="0 0 30 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.395597 40.0789C0.182112 39.8812 0.181929 39.5436 0.395198 39.3456L18.1477 22.8665C18.3609 22.6686 18.3609 22.3314 18.1477 22.1335L0.395198 5.65435C0.181929 5.45638 0.182112 5.11882 0.395596 4.92108L5.36873 0.31471C5.56044 0.137139 5.85656 0.137138 6.04827 0.31471L29.604 22.1332C29.8176 22.3311 29.8176 22.6689 29.604 22.8668L6.04827 44.6853C5.85656 44.8629 5.56044 44.8629 5.36873 44.6853L0.395597 40.0789Z" fill="white" />
        </svg>
    </button>
</section>
<style>
    @@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
    @@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap');
</style>