@page "/"

<section class="parent-main">
    <div class="landing-container">
        <div id="left-wrapper">
            <div class="heading-main">
                <h1>Save your future through the power of <span class="ai-text">AI</span>.</h1>
            </div>

            <button class="start-now-button">
                Start now
                <svg class="button-arrow-svg" width="30" height="45" viewBox="0 0 30 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.395597 40.0789C0.182112 39.8812 0.181929 39.5436 0.395198 39.3456L18.1477 22.8665C18.3609 22.6686 18.3609 22.3314 18.1477 22.1335L0.395198 5.65435C0.181929 5.45638 0.182112 5.11882 0.395596 4.92108L5.36873 0.31471C5.56044 0.137139 5.85656 0.137138 6.04827 0.31471L29.604 22.1332C29.8176 22.3311 29.8176 22.6689 29.604 22.8668L6.04827 44.6853C5.85656 44.8629 5.56044 44.8629 5.36873 44.6853L0.395597 40.0789Z" fill="white" />
                </svg>
            </button>
        </div>

        <div id="right-wrapper">

        </div>
    </div>

</section>

<style>

    @@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
    @@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap');

    * {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .parent-main {
        background-color: #FAFBFF;
        height: 100vh;
        width: 100vw;
        background-image: url('img/lines.svg');
        background-repeat: no-repeat;
        background-size: 105vw;
    }

    .landing-container {
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: row;
    }

    #left-wrapper {
        width: inherit;
        background-color: antiquewhite;
        margin: auto;
        align-items: center;
        justify-content: center;
    }

    #right-wrapper {
        width: inherit;
        background-color: lightcyan;
    }

    .heading-main > h1 {
        width: 40vw;
        color: #001854;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 116px;
    }

    .ai-text {
        display: inline;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: url('img/ai-gradient.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    .start-now-button {
        height: 11.5vh;
        width: 22vw;
        margin-top: 5vh;
        background: linear-gradient(92.45deg, #61B3FF -3.98%, #8321FF 112.43%);
        border: none;
        border-radius: 93px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 2.7rem;
        color: #FFFFFF;
    }

    .button-arrow-svg {
        display: inline;
        padding-left: 1vw;
        width: 50px;
    }

</style>
