@page "/"

<section class="hero is-fullheight" style="background-image: url('img/side-gradient.png'); background-repeat: no-repeat; background-position: right;">

        <div class="hero-body" style="margin-left: 5%;">

            <div class="heading-main column">
                <h1 style="font-size: 5vw;">Save your future through the power of <span class="ai-text">AI</span>.</h1>

                <button class="start-now-button">
                    Start now
                    <svg class="button-arrow-svg" width="30" height="45" viewBox="0 0 30 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.395597 40.0789C0.182112 39.8812 0.181929 39.5436 0.395198 39.3456L18.1477 22.8665C18.3609 22.6686 18.3609 22.3314 18.1477 22.1335L0.395198 5.65435C0.181929 5.45638 0.182112 5.11882 0.395596 4.92108L5.36873 0.31471C5.56044 0.137139 5.85656 0.137138 6.04827 0.31471L29.604 22.1332C29.8176 22.3311 29.8176 22.6689 29.604 22.8668L6.04827 44.6853C5.85656 44.8629 5.56044 44.8629 5.36873 44.6853L0.395597 40.0789Z" fill="white" />
                    </svg>
                </button>
            </div>

            <div class="column" >
                <img class="mockup-devices" src="img/mockup.png" />
            </div>

        </div>

</section>

<section style="margin-left: 10%; margin-top: 5%;">
    <div class="tile is-ancestor">
        <div class="tile is-5 is-vertical is-parent">
            <div class="tile is-child">
                <img src="img/photo.png" />
            </div>
        </div>

        <div class="tile is-parent" style="margin-left: 5%;">
            <div class="tile is-child">
                <p class="title" style="font-size: 4vw;">Gather imagery</p>
                <p style="font-size: 2vw;">Various images will be used to detect whether a beach is polluted or not.</p>
            </div>
        </div>
    </div>

    <div class="tile is-ancestor" style="margin-top: 5%;">
        <div class="tile is-parent">
            <div class="tile is-child">
                <p class="title" style="font-size: 4vw;">Process information</p>
                <p style="font-size: 2vw;">The data passes through our machine learning agorithm and gets split to events.</p>
            </div>
        </div>

        <div class="tile is-5 is-vertical is-parent" style="margin-left: 5%;">
            <div class="tile is-child">
                <img src="img/Layer 2 1.png" />
            </div>
        </div>
    </div>

    <div class="tile is-ancestor" style="margin-top: 5%;">
        <div class="tile is-5 is-vertical is-parent">
            <div class="tile is-child">
                <img src="img/Screenshot 2022-05-09 011041.png" />
            </div>
        </div>

        <div class="tile is-parent"style="margin-left: 5%;">
            <div class="tile is-child">
                <p class="title" style="font-size: 4vw;">Engage people</p>
                <p style="font-size: 2vw;">At last, the events gets assigned to various users, that organise meet ups.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="tile is-ancestor" style="margin-top: 5%;">
        <div class="tile is-5 is-vertical is-parent">
            <div class="tile is-child">
                <img src="img/Screenshot 2022-05-09 014133.png" />
            </div>
        </div>

        <div class="tile is-parent" style="margin-left: 5%;">
            <div class="tile is-child">
                <p class="title" style="font-size: 4vw;"><b>Meet up with your <span class="friend-text">friends</span></b>.</p>
                <p style="font-size: 2vw;"><b>You can partake in the same events with your friends, making them funnier and more engaging.</b> </p>
                <p style="font-size: 2vw; background-color: #2989E1; color: white; display: inline-block;">You can even make new freinds, who knows! </p>
            </div>
        </div>
    </div>
</section>

<section class="hero is-halfheight">

    <button class="start-now-button1">
        Start now
        <svg class="button-arrow-svg" width="30" height="45" viewBox="0 0 30 45" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.395597 40.0789C0.182112 39.8812 0.181929 39.5436 0.395198 39.3456L18.1477 22.8665C18.3609 22.6686 18.3609 22.3314 18.1477 22.1335L0.395198 5.65435C0.181929 5.45638 0.182112 5.11882 0.395596 4.92108L5.36873 0.31471C5.56044 0.137139 5.85656 0.137138 6.04827 0.31471L29.604 22.1332C29.8176 22.3311 29.8176 22.6689 29.604 22.8668L6.04827 44.6853C5.85656 44.8629 5.56044 44.8629 5.36873 44.6853L0.395597 40.0789Z" fill="white" />
        </svg>
    </button>

</section>

<style>

    /*!debug.css | MIT License | zaydek.github.com/debug.css */
/**:not(path):not(g)
{
    color:                     hsla(210, 100%, 100%, 0.9) !important;
    background:                hsla(210, 100%,  50%, 0.5) !important;
    outline:     solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

    box-shadow: none !important;
}*/

    @@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
    @@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap');


    /* General pushback for the heading container */
    .heading-main {
        margin-top: 5vh;
    }

    /* Nested styling for the h1 tag */
    .heading-main > h1 {
        width: 45vw;
        color: #001854;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 6em;
    }

    /* Styling & BG Clip for the gradient text */
    .ai-text {
        display: inline;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: url('img/ai-gradient.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    .friend-text {
        background: linear-gradient(87.12deg, #4FD8E0 33.23%, #4FB5E0 33.24%, #0057FF 96.36%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    /* Call to action button */
    .start-now-button {
        height: 50%;
        width: 40%;
        margin-top: 10%;
        background: linear-gradient(92.45deg, #61B3FF -3.98%, #8321FF 112.43%);
        border: none;
        border-radius: 93px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 3vw;
        color: #FFFFFF;
    }

    .start-now-button1 {
        height: 40%;
        width: 20%;
        margin-left:40%;
        margin-top: 10%;
        background: linear-gradient(92.45deg, #00A3FF -3.98%, #0038FF 112.43%);
        border: none;
        border-radius: 93px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 3vw;
        color: #FFFFFF;
    }

    /* Button icon */
    .button-arrow-svg {
        display: inline;
        padding-left: 1vw;
        width: 2vw;
    }

    /* Styling for the mockups */
    .mockup-devices {
        position: absolute;
        margin-left: 7vw;
        top: 10%;
        z-index: 1;
        width: 28%
    }

</style>